
#mainDisplay {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 0px;
    background-color: #000;
    padding: 10px;
    margin: 20;
    border-radius: 20px;
    width: 360px;
    height: 360px;
}

.scoreContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#score {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(135deg, #ffcc00, #ff6600);
	color: white;
	font-size: 2rem;
	font-weight: bold;
	width: 120px;
	height: 60px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease-in-out;
}

.gameBox {
	display: flex;
	justify-content: center;
	place-items: center;
	gap: 20px;
}

.bodyDisplay {
    background-color: #000;
    padding: 10px;
    margin: 20;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.bodyContainer {
	display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(4, 40px);
    gap: 0px;
}

.bodyDisplay:hover {
    outline: 5px solid #00ccff;
}

.cell {
    place-self: center;
    width: 36px;
    height: 36px;
    background-color: #333;
    border-radius: 4px;
}

.cell.hovered {
	outline: 5px solid #00ccff;
}

.invisCell {
	width: 40px;
    height: 40px;
    border-radius: 4px;
}

.block {
    width: 36px;
    height: 36px;
    background-color: #ffcc00;
    background-image: linear-gradient(135deg, #ffcc00, #d4a300);
    border-right: 4px solid #b38600;
    border-bottom: 4px solid #b38600;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.3);
    margin: 0;
}
.block.hovered {
	outline: 5px solid #ff0000;
}

#reload {
	display: inline-flex; /* Ensures it's inline and flex-centered */
	margin-left: 35px;
    border: 2px solid rgba(255, 255, 255, 0); /* Initially invisible but present */
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out, border-color 0.0s ease-in-out;
}

#reload:hover {
    transform: rotate(360deg);
}

#reload:active {
    scale: 0.85;
}
