<script src="/js/partials/autocomplete.js"></script>
<link rel="stylesheet" href="/css/autocomplete.css">

<h1 data-lang-content="admin_settings title">Admin Settings</h1>

<div class="createUser setting">
  <h2 data-lang-content="admin_settings create_user title">Create User</h2>
  <form id="createUserForm">
    <label for="username" data-lang-content="admin_settings create_user username">Username</label>
    <input type="text" id="createUserUsername" name="username" required>
    <label for="password" data-lang-content="admin_settings create_user password">Password</label>
    <input type="password" id="createUserPasswort" name="password" required>
    </select>
    <button type="button" id="createUserSubmit" data-lang-content="admin_settings create_user create">Create User</button>
  </form>
</div>

<script>
  const allPermissions = JSON.parse('<%- JSON.stringify(possiblePermissions) %>');
</script>

<div id="setUserPermissions">
  <div class="setting">
    <h2 data-lang-content="admin_settings edit_user title">Edit User</h2>
    <form id="setUserPermissionsForm" autocomplete="off">
      <div class="autocomplete">
        <input id="userAutoComplete" type="text" placeholder="admin">
      </div>
    </form>
  </div>
</div>