<h1>Admin Settings</h1>

<div class="createUser setting">
  <h2>Create User</h2>
  <form id="createUserForm">
    <label for="username" id="createUserUsername">Username</label>
    <input type="text" id="username" name="username" required>
    <label for="password" id="createUserPasswort">Password</label>
    <input type="password" id="password" name="password" required>
    </select>
    <button type="button" id="createUserSubmit">Create User</button>
  </form>
</div>

<div id="setUserPermissions">
  <div class="setting">
    <h2>Edit User</h2>
    <form id="setUserPermissionsForm" autocomplete="off">
      <div class="autocomplete">
        <input id="userAutoComplete" type="text" placeholder="admin">
      </div>
    </form>
  </div>
</div>