<%- include("./partials/header.ejs") %>

<script>
  const loggedIn = <%= loggedIn %>;
</script>

<div id="modal" class="modal">
  <span id="modalClose" class="close" title="Close Modal">&times;</span>

  <form class="modal-content animate">

  </form>
</div>