<link rel="stylesheet" href="/css/filter.css">


<input type="checkbox" id="filterCheckbox" style="display: none;" />
<div id="filterSurrounding">
  <button class="filterButton button" onclick="const checkbox = document.getElementById('filterCheckbox'); checkbox.checked = !checkbox.checked; toggleVisibility('filterBody');">
    <span data-lang-content="filter search">Suchen</span>
  </button>

  <div class="filterBody" style="display: none;" id="filterBody">
    <div class="filterBox">
      <div class="filter">
        <label for="author" data-lang-content="filter searchTerm">Suchbegriff</label>
        <input type="text" name="author" placeholder="Suchen" id="filterAuthor" oninput="updateFilter()" />
      </div>
      <div class="filter">
        <label for="dateFrom" data-lang-content="filter from">Vom</label>
        <input type="date" name="dateFrom" id="filterDateFrom" placeholder="Datum Auswählen" oninput="updateFilter()" />
      </div>
      <div class="filter">
        <label for="dateTo" data-lang-content="filter to">Bis</label>
        <input type="date" name="dateTo" id="filterDateTo" placeholder="Datum Auswählen" oninput="updateFilter()" />
      </div>
      <div class="totalElements">
        <span id="totalElements" data-lang-content="none">0</span>
        <span data-lang-content="filter results"> Ergebnisse</span>
      </div>
    </div>
    <div class="sortBox">
      <div class="filter">
        <label for="order" data-lang-content="filter sort title">Sortieren</label>
        <select name="order" id="sortDate" onchange="updateFilter()">
          <option value="time-desc" data-lang-content="filter sort newest">Neuste Zuerst</option>
          <option value="time-asc" data-lang-content="filter sort oldest">Älteste Zuerst</option>
          <option value="likes-desc" data-lang-content="filter sort likes">Meiste Likes</option>
          <option value="likes-asc" data-lang-content="filter sort dislikes">Wenigste Likes</option>
        </select>
      </div>
    </div>
  </div>
</div>