<header>

  <a class="header-logo" href="/">
    <img src="/images/logo.png" alt="Logo">
  </a>


  <nav class="header-nav">
    <ul>
      <!-- <li><a href="/archive">Archiv</a></li> -->
      <% if (usertype.includes("classmate")) { %>
      <li><a href="/citations" data-lang-content="header citations"></a></li>
      <% } %>
      <% if (usertype.includes("games")) { %>
      <li><a href="/games" data-lang-content="header games"></a></li>
      <% } %>

      <li><a href="/about" data-lang-content="header about"></a></li>
    </ul>
  </nav>

  <div class="header-button">
    <% if (usertype.includes("admin") || usertype.includes("canPost")) { %>
    <button class="create-post-button" onclick="window.location.href='/create'" data-lang-content="header create"></button>
    <% } %>

    <% if (loggedIn) { %>
    <% if (profilePic.type == "default") { %>
    <p class="profilePicture auto-hiding" style="background-color: <%= profilePic.content%>; cursor: pointer;" onclick="toggleMenu()">
      <%= username.charAt(0).toUpperCase() %>
    </p>
    <% } %>
    <% if (profilePic.type == "custom") { %>
    <img class="profilePicture auto-hiding" src="https://storage.liscitransmitter.live/<%= profilePic.content %>" onclick="toggleMenu()">
    <% } %>
    <% } %>

    <button class="mobileMenuButton" onclick="toggleMobileMenu()">
      <img src="/icons/menu.svg" alt="Menu">
    </button>

  </div>

  <div class="pwaBar" id="pwaBar">
  </div>

</header>




<div class="userMenu" id="userMenu" style="display: none">

  <% if (typeof isSettingsPage == "undefined") { %>
  <div class="content">
    <button onclick="window.location.href='/settings'" class="button">
      <img class="icon" src="/icons/settings.svg"></img>
      <label class="button-label" data-lang-content="header settings"></label>
    </button>
  </div>
  <% } %>

  <div class="content">
    <button onclick="logout()" class="button">
      <img class="icon" src="/icons/logout.svg"></img>
      <label class="button-label" data-lang-content="header logout"></label>
    </button>
  </div>
</div>

<div class="mobileMenu" id="mobileMenu" style="display: none">
  <ul>
    <!-- <li><a href="/archive">Archiv</a></li> -->
    <% if (usertype.includes("classmate")) { %>
    <li><a href="/citations" data-lang-content="header citations"></a></li>
    <% } %>

    <% if (usertype.includes("admin") || usertype.includes("canPost")) { %>
    <li><a href="/create" data-lang-content="header create"></a></li>
    <% } %>

    <% if (usertype.includes("games")) { %>
    <li><a href="/games" data-lang-content="header games"></a></li>
    <% } %>

    <li><a href="/about" data-lang-content="header about"></a></li>

    <% if (loggedIn) { %>
    <li><a href="/settings" data-lang-content="header settings"></a></li>
    <li><a href="#" onclick="logout()" data-lang-content="header logout"></a></li>
    <% } %>
  </ul>
</div>