<header>
  <a class="header-logo" href="/">
    <img src="/images/logo.png" alt="Logo">
  </a>


  <nav class="header-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <!-- <li><a href="/archive">Archiv</a></li> -->
      <% if (usertype.includes("classmate")) { %>
      <li><a href="/citations">Zitate</a></li>
      <% } %>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <div class="header-button">
    <% if (usertype.includes("admin") || usertype.includes("canPost")) { %>
    <button class="create-post-button" onclick="window.location.href='/create'">Neuer Post</button>
    <% } %>

    <% if (loggedIn) { %>
    <% if (profilePic.type == "default") { %>
    <p class="defaultProfilePicture profilePicture" style="background-color: <%= profilePic.content%>; cursor: pointer;" onclick="toggleMenu()">
      <%= username.charAt(0).toUpperCase() %>
    </p>
    <% } %>
    <% } else { %>
    <button onclick="showLoginPopup()">Login</button>
    <% } %>

    <button class="mobileMenuButton" onclick="toggleMobileMenu()">
      <img src="/icons/menu.svg" alt="Menu">
    </button>

  </div>


</header>

<div class="login-popup" id="loginPopup">
  <div class="login-popup-content">
    <p id="login-popup-title">Login</p>
    <form method="post" action="internal/login">
      <input type="text" name="username" placeholder="Username" autocomplete="username">
      <input type="password" name="password" placeholder="Password" autocomplete="current-password">

      <div class="submit-button-container">
        <button type="button" class="cancel-button" onclick="hideLoginPopup()">Cancel</button>
        <input type="submit" class="submit-login" value="Login">
      </div>
    </form>
  </div>
</div>

<div class="userMenu" id="userMenu" style="display: none">

  <% if (typeof isSettingsPage == "undefined") { %>
  <div class="content">
    <button onclick="window.location.href='/settings'" class="button">
      <img class="icon" src="/icons/settings.svg"></img>
      <label class="button-label">Settings</label>
    </button>
  </div>
  <% } %>

  <div class="content">
    <button onclick="logout()" class="button">
      <img class="icon" src="/icons/logout.svg"></img>
      <label class="button-label">Logout</label>
    </button>
  </div>
</div>

<div class="mobileMenu" id="mobileMenu" style="display: none">
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/archive">Archiv</a></li> -->
    <% if (usertype.includes("classmate")) { %>
      <li><a href="/citations">Zitate</a></li>
    <% } %>
    <% if (usertype.includes("admin") || usertype.includes("writer")) { %>
      <li><a href="/create">Neuer Post</a></li>
    <% } %>
    <li><a href="/about">About</a></li>
    <% if (loggedIn) { %>
      <li><a href="/settings">Settings</a></li>
      <li><a href="#" onclick="logout()">Logout</a></li>
    <% } else { %>
      <li><a href="#" onclick="showLoginPopup()">Login</a></li>
    <% } %>
  </ul>
</div>