<header>
  <div class="header-logo">
    <a href="/">
      LiSciTransmitter
    </a>
  </div>


  <nav class="header-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/archive">Archiv</a></li>
      <li><a href="/citations">Zitate</a></li>
    </ul>


  </nav>

  <div class="header-button">
    <% if (usertype=="writer" || usertype=="admin" ) { %>
    <button class="create-post-button" onclick="window.location.href='/create'">Neuer Post</button>
    <% } %>

    <% if (loggedIn) { %>
      <% if (typeof isSettingsPage != "undefined") { %>
        <button onclick="logout()">Logout</button>
      <% } else { %>
        <button onclick="window.location.href='/settings'">settings</button>
      <% } %>
    <% } else { %>
      <button onclick="showLoginPopup()">Login</button>
    <% } %>
  </div>


</header>

<div class="login-popup" id="loginPopup">
  <div class="login-popup-content">
    <p id="login-popup-title">Login</p>
    <form method="post" action="internal/login">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">

      <div class="submit-button-container">
        <button type="button" class="cancel-button" onclick="hideLoginPopup()">Cancel</button>
        <input type="submit" class="submit-login" value="Login">
      </div>
    </form>
  </div>
</div>