<header>
    <div class="header-logo">
        <a href="/">
            LiSciTransmitter
        </a>
    </div>
    

    <nav class="header-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        
    </nav>
    <div class="header-button">
        <button>
            <a href="/login">Login</a>
        </button>
    </div>
</header>