<header>
    <a href="/" class="header-logo">
        LiSciTransmitter
    </a>

    <nav class="header-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <div class="header-button">
            <a href="/login">Login</a>
        </div>
    </nav>
</header>