<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Invite</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .invite-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      max-width: 400px;
      width: 100%;
    }

    h1 {
      color: #4CAF50;
    }

    p {
      font-size: 1.1em;
    }

    .button {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1em;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
    }

    .button:hover {
      background-color: #45a049;
    }
  </style>
</head>

<body>
  <div class="invite-container">
    <h1>A game invite from <%= username %></h1>
    <p><%= username.charAt(0).toUpperCase() + username.slice(1) %> wants to play <%= gameName %> with you!</p>
    <p><%= gameDescription %></p>
    <a class="button" id="joinButton">Join the Game</a>
  </div>
</body>

</html>

<script>
  const joinButton = document.getElementById('joinButton');
  joinButton.addEventListener('click', () => {
    fetch(window.location.href + '/accept', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
      }).then(response => {
      if (response.status !== 200) {
        console.error('Something went wrong!');
        console.error(response);
        return;
      }
      return response.json();
      })
      .then(data => {
      if (!data) return;
      console.log(data);
      const gameUrl = data.url;
      if (!gameUrl) return;
      window.location.href = gameUrl;
      })
  });
</script>