version: "3.9"

services:
  liscitransmitter:
    container_name: liscitransmitter
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: .env
    environment:
      NODE_ENV: production
    expose:
      - "8080"
    networks:
      - web

networks:
  web:
    external: true