.gameBox {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: calc(100% - 10%);
    height: calc(100vmin - 10vw);
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1/1;
    width: calc(100vmin - 10vw);
    height: calc(100vmin - 10vw);
    max-width: 80vh;
    max-height: 80vh;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--post-outline-color);
}

.icon {
    user-select: none;
}

.inner.game {
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
    aspect-ratio: initial;
    border: none;
}

.square.won {
    background-color: #388538;
}

.game.won {
    z-index: -1;
}

.game.lost {
    z-index: -1;
}

.square.lost {
    background-color: #ad3d3d;
}

.inner.square {
    border-width: 1px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    border-width: 5px;
    border-color: var(--post-outline-color);
}

.playable{
    cursor: pointer;
}

.playable .icon {
    width: 90%;
}

.playable.set {
    cursor: default;
}

.square:not(.playable)>.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    transform: translate(-20%);
}

.top {
    border-bottom-style: solid;
}

.bottom {
    border-top-style: solid;
}

.left {
    border-right-style: solid;
}

.right {
    border-left-style: solid;
}

.reset {
    position: absolute;
    bottom: 0;
    left: -2%;
    transform: translate(0, 80px);
}

.reset button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.not-selectable {
    opacity: 0.8;
    pointer-events: none;
    background-color: rgb(255 0 0 / 10%)
}

.gameHead {
    text-align: center;
    font-size: 2em;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gameHead img {
    width: 45px;
}

.gameOverBanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60vw;
    height: 60vh;
    max-height: 60vmin;
}

.gameOverBanner span {
    font-size: 1.5em;
}

.gameOverBanner img {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .reset {
        transform: translate(0, 60px);
        left: -5%;
    }
    
    .reset button img {
        width: 75%;
    }
}