<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <link rel="stylesheet" href="/css/citations.css">
  <script src="/js/citations.js"></script>
  <script src="/js/partials/autocomplete.js"></script>
  <link rel="stylesheet" href="/css/autocomplete.css">
  <title>Zitate</title>
</head>

<body>
  <%- include('./partials/base.ejs') %>

  <h1 data-lang-content="citations new title">Ein neues Zitat einreichen</h1>
  <div class="newCitationBox" id="newCitationBox">
    <!-- all new citation contexts will be here -->
  </div>
  <hr />
  <div class="vertical">
    <button onclick="addNewContext()" class="addSection">
      <img src="/icons/add-section.svg" alt="Add Section">
    </button>
    <button id="citationSubmit" class="online-only citationSubmit" onclick="submitCitation()" data-lang-content="citations new submit">Submit</button>
    <div id="submitButtons" style="display: none;">
      <button id="citationCancle" class="online-only citationSubmit" onclick="endEditCitation()" data-lang-content="citations edit cancel">Cancel</button>
      <button id="citationSave" class="online-only citationSubmit" onclick="submitCitation()" data-lang-content="citations edit Save">Save</button>
    </div>
  </div>

  <h1 data-lang-content="citations title">Zitate</h1>
  <%- include('./partials/filter.ejs') %>
  <div class="citationsBox" id="citationBox">
    <!-- all citations will be here -->
  </div>

  <div id="baseStructure" style="display: none;">
    <div class="author autocomplete">
      <textarea type="text" name="author" class="online-only" placeholder="Herr Treetzen" pattern='[^"]+' oninput='this.value = this.value.replace(/[\n]/g,"")' required data-lang-content-placeholder="citations new sentence 0"></textarea>
    </div>
    <p data-lang-content="citations new sentence 1"> hat </p>
    <div class="content">
      <textarea type="text" name="content" class="online-only" placeholder="ein lustiges Zitat" pattern='[^"]+' oninput='this.value = this.value.replace(/[\n]/g,"")' required data-lang-content-placeholder="citations new sentence 2"></textarea>
    </div>
    <p data-lang-content="citations new sentence 3"> gesagt.</p>
  </div>
</body>

</html>