<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <link rel="stylesheet" href="/css/citations.css">
  <script src="/js/citations.js"></script>
  <script src="/js/partials/autocomplete.js"></script>
  <link rel="stylesheet" href="/css/autocomplete.css">
  <title>Zitate</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>

  <div class="newCitationBox">
    <h1 data-lang-content="citations new title">Ein neues Zitat einreichen</h1>
    <div class="sentenceStructure">
      <div class="author autocomplete">
        <textarea type="text" name="author" id="author" placeholder="Herr Treetzen" pattern='[^"]+' oninput='this.value = this.value.replace(/[\n]/g,"")' required data-lang-content-placeholder="citations new sentence 0"></textarea>
      </div>
      <p data-lang-content="citations new sentence 1"> hat </p>
      <div class="content">
        <textarea type="text" name="content" id="content" placeholder="ein lustiges Zitat" pattern='[^"]+' oninput='this.value = this.value.replace(/[\n]/g,"")' required data-lang-content-placeholder="citations new sentence 2"></textarea>
      </div>
      <p data-lang-content="citations new sentence 3"> gesagt.</p>
    </div>
    <button id="citationSubmit" onclick="submitCitation()" data-lang-content="citations new submit">Submit</button>
  </div>

  <h1 data-lang-content="citations title">Zitate</h1>
  <div class="citationsBox" id="citationBox">
  </div>


</body>

</html>

<script>
  const loggedIn = <%= typeof username !== 'undefined' ? true : false %>;
</script>