<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <% if (typeof post != "undefined") { %>
  <title>Edit a Post</title>
  <% } else { %>
  <title>Create a New Post</title>
  <% } %>
  <link rel="stylesheet" href="/css/create.css">
  <script src="/js/create.js"></script>
</head>

<body>

  <%- include("./partials/header.ejs") %>

  <div class="article-box">
    <div class="article-container">

      <div class="title">
        <label for="title">Titel</label>
        <input type="text" id="title" placeholder="Das Life-Science Profil wieder unterwergs" required>
      </div>

      <div class="checkbox-group">
        <input type="checkbox" id="teachersafe" value="teachersafe">
        <label for="teachersafe">Teachersafe</label>
      </div>

      <div class="section-container" id="section-container">

      </div>

      <button onclick="selectSection()" class="addSection">
        <img src="/icons/add-section.svg" alt="Add Section">
      </button>
      <br>

      <% if (typeof post != "undefined") { %>
      <button onclick="submitPost(true)" class="button">Save Post</button>
      <% } else { %>
      <button onclick="submitPost()" class="button">Create Post</button>
      <% } %>
    </div>
  </div>

  <div id="popup" class="popup hidden">
    <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <h2>Select Section Type</h2>
      <button onclick="addTextSection()">Text</button>
      <button onclick="addImageSection()">Image</button>
      <button onclick="addFileSection()">File</button>
      <button onclick="addMarkdownSection()">Markdown</button>
    </div>
  </div>

</body>

<% if (typeof post != "undefined") { %>
<script>
  const post = <%- JSON.stringify(post) %>;
  loadPost(post);
</script>
<% } %>


</html>