<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a New Post</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/create.css">
  <script src="/js/create.js"></script>
</head>

<body>

  <%- include("./partials/header.ejs") %>

  <div class="main-container">
    <div class="form-container">
      <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" id="title" placeholder="Das Life-Science Profil wieder unterwergs" required>
      </div>

      <div class="form-group">
        <label for="content">Artikel</label>
        <section contenteditable="true" id="content-editable" class="editable" required></section>
      </div>

      <div class="form-group">
        <label for="upload">Upload File (Optional)</label>
        <input type="file" id="upload" accept=".pdf,image/*">
      </div>

      <div class="form-group checkbox-group">
        <input type="checkbox" id="teachersafe" value="teachersafe">
        <label for="teachersafe">Teachersafe</label>
      </div>

      <button onclick="submitPost()" class="button">Create Post</button>
    </div>
  </div>

</body>

</html>