<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a New Post</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/create.css">
  <script src="/js/create.js"></script>
</head>

<body>

  <%- include("./partials/header.ejs") %>

  <div class="article-box">
    <div class="article-container">

      <div class="title">
        <label for="title">Titel</label>
        <input type="text" id="title" placeholder="Das Life-Science Profil wieder unterwergs" required> 
      </div>
      
      <div class="checkbox-group">
        <input type="checkbox" id="teachersafe" value="teachersafe">
        <label for="teachersafe">Teachersafe</label>
      </div>

      <div class="section-container" id="section-container">
        
      </div>

      <button onclick="submitPost()" class="button">Create Post</button>
    </div>
  </div>

</body>

</html>