<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <% if (typeof post != "undefined") { %>
  <title data-lang-content="create newPostTitle">Edit a Post</title>
  <% } else { %>
  <title data-lang-content="create updatePostTitle">Create a New Post</title>
  <% } %>
  <link rel="stylesheet" href="/css/create.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/create.js"></script>
  <script src="/js/partials/postRenderer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.7.76/pdf.min.mjs" type="module"></script>
</head>

<body>

 <%- include("./partials/header.ejs") %>
<%- include('./partials/base.ejs') %>

  <div class="article-box">
    <div class="article-container">

      <div class="title">
        <label for="title" data-lang-content="create post title">Titel</label>
        <input type="text" id="title" placeholder="Das Life-Science Profil wieder unterwergs" required data-lang-content-placeholder="create post placeholder">
      </div>

      <div class="checkbox-group">
        <label for="teachersafe" data-lang-content="create post teacher_can_see">Dürfen Lehrer sehen</label>
        <input type="checkbox" id="teachersafe" value="teachersafe">

        <% if (canCreateNews) { %>
          <br>
          <label for="news" data-lang-content="create post is_news">Ist eine neue Zeitung</label>
          <input type="checkbox" id="news" value="news">
        <% } %>
      </div>

      <div class="edit-section-container" id="edit-section-container">

      </div>

      <button onclick="selectSection()" class="addSection">
        <img src="/icons/add-section.svg" alt="Add Section">
      </button>
      <br>

      <% if (typeof post != "undefined") { %>
      <button onclick="submitPost(true)" class="button online-only" data-lang-content="create post save">Save Post</button>
      <% } else { %>
      <button onclick="submitPost()" class="button online-only" data-lang-content="create post submit">Create Post</button>
      <% } %>
    </div>
  </div>

  <div id="popup" class="popup hidden">
    <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <h2 data-lang-content="create sections select_section">Select Section Type</h2>
      <button onclick="addTextSection()" data-lang-content="create sections text">Text</button>
      <button onclick="addImageSection()" data-lang-content="create sections image">Image</button>
      <button onclick="addFileSection()" data-lang-content="create sections file">File</button>
      <button onclick="addMarkdownSection()" data-lang-content="create sections markdown">Markdown</button>
    </div>
  </div>

</body>

<% if (typeof post != "undefined") { %>
<script>
  const post = <%- JSON.stringify(post) %>;
  document.addEventListener("DOMContentLoaded", () => {
    loadPost(post);
  });
</script>
<% } %>


</html>