<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>

<body>
    <h1>Hello, <%= typeof username !== 'undefined' ? username : 'World' %> </h1>
    <p>You viewed this page <%= views %> times.</p>

    <form method="post" enctype="multipart/form-data" action="api/upload">
        <label for="file">Upload a file</label>
        <input type="file" name="upload">
        <input type="submit" class="button">
      </form>

    <form method="post" action="api/login">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" class="button">
    </form>

    <form method="get" action="api/logout">
        <input type="submit" value="Logout" class="button">
    </form>
</body>

</html>