<!DOCTYPE html>
<html lang="de">
    
<!-- TODO: Add homework.title to en and de language files -->
<head>
  <%- include("./partials/baseHead.ejs") %>


  <title data-lang-content="homework title">Hausaufgaben</title>
  <script src="/js/homework.js" defer></script>
  <link rel="stylesheet" href="/css/homework.css">
  <script src="/js/partials/autocomplete.js"></script>
  <link rel="stylesheet" href="/css/autocomplete.css">
</head>

<body>
  <%- include('./partials/base.ejs') %>


  <button type="button" id="taskSubmit" onclick="openCreateTask()">Create Task</button>

  <div class="calendar" id="calendar">
        <!-- Calendar days will be dynamically generated -->
  </div>

  <div id="dayView">
      <div class="dateDisplay">
        <h1 id="dayView-Date">DD MM DD</h1>
        <h1 id="dayView-dayCount">(in 5 Tagen)</h1>
      </div>
      <div class="taskCount">
        <p class="count">5</p>
        <p>Aufgaben sind an diesm Tag fällig.</p>
      </div>
  </div>
  <div id="taskView">
      <div id="taskElementPrefab" class="taskElement">
        <div class="headder">
          <p class="subject">Fach</p>
          <p class="teacher">Lehrer</p>
        </div>
        <hr>
        <p class="content">Die zu bearbeitende Aufgabe</p>
        <div class="meta-info">
          <div class="author-info">
            <p class="author-name">Pius</p>
            <div class="profilePicture">
              <img class="profilePicture image" src="https://storage.liscitransmitter.live/profile-pictures/397w9ZcGyWt9LE6ERMyl.jpeg" alt="Pius">
            </div>
          </div>
        </div>
      </div>
      <div class="taskElement">test elem</div>
      <div class="taskElement">test elem</div>
      <div class="taskElement">test elem</div>
  </div>

  <div class="modal" id="taskModal">
    <span class="close">&times;</span>
    <h1>Eine Aufgabe eintragen</h1>
    <div class="timetable"></div>
  </div>


</body>

</html>