<!DOCTYPE html>
<html lang="de">
    
<!-- TODO: Add homework.title to en and de language files -->
<head>
  <%- include("./partials/baseHead.ejs") %>


  <title data-lang-content="homework title">Hausaufgaben</title>
  <script src="/js/homework.js"></script>
  <link rel="stylesheet" href="/css/homework.css">
</head>

<body>
  <%- include('./partials/base.ejs') %>

  <!-- TODO: Add homework body content here -->
  

</body>

</html>