<!DOCTYPE html>
<html lang="<%= (preferences && preferences.find(p => p.key === 'language')?.value) || 'de' %>">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title data-lang-content="name">Life Science Transmitter</title>
  <script src="js/index.js"></script>
  <script src="/js/partials/postRenderer.js"></script>
  <script src="/js/partials/commentRenderer.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

  <%- include('./partials/base.ejs') %>

  <div class="logo">
    <a href="/">Life Science Transmitter</a>
  </div>

  <div class="content">
    <div class="section-devider">
      <img src="/icons/ring-on-fire.svg" alt="section-devider">
    </div>

    <div class="section">
      <div class="frame-design important" id="news">
        <p>News</p>
      </div>
      <div class="frame-design important" id="citations">
        <p>Citations</p>
      </div>
    </div>

    <div class="section-devider">
      <img src="/icons/ring-on-fire.svg" alt="section-devider">
    </div>

    <div class="section">
      <div class="frame-design" id="games">
        <p>Spiele</p>
      </div>
      <div class="frame-design" id="community-posts">
        <p>Community Posts</p>
      </div>
      <div class="frame-design" id="create-community-post">
        <p>Post erstellen</p>
      </div>
      <div class="frame-design" id="chat">
        <p>Chat</p>
      </div>
    </div>

    <div class="section">
      <div class="frame-design" id="logout">
        <p>Logout</p>
      </div>
      <div class="frame-design" id="settings">
        <p>Einstellungen</p>
      </div>
    </div>
  </div>

</body>

</html>