<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title data-lang-content="name">Life Science Transmitter</title>
  <script src="/js/landing.js"></script>
  <link rel="stylesheet" href="/css/landing.css">

  <meta name="description" data-lang-content="landing description" content="Das ist der Life Science Transmitter, die Zeitungs website des 12.3 Life Science Profils.">
</head>

<body>

 <%- include("./partials/header.ejs") %>
<%- include('./partials/base.ejs') %>

  <div class="site-description">
    <h2 data-lang-content="name">Life Science Transmitter</h2>
    <p>Das ist der Life Science Transmitter, die Zeitungs website des 12.3 Life Science Profils.</p>
  </div>

  <div class="login-section">
    <h3 id="login-popup-title" data-lang-content="header login">Login</h3>
    <div id="login-form">
      <p id="invalid" data-lang-content="login-form invalid">Username oder Passwort ist Falsch.</p>
      <input type="text" name="username" id="username" placeholder="Username" autocomplete="username" data-lang-content-placeholder="login_form username">
      <input type="password" name="password" id="password" placeholder="Password" autocomplete="current-password" data-lang-content-placeholder="login_form password">
      <div class="submit-button-container">
        <button type="button" class="cancel-button" onclick="clearLoginForm()" data-lang-content="login_form cancel">Cancel</button>
        <input type="submit" class="submit-login" data-lang-content-value="header login" value="Login" onclick="login()">
      </div>
    </div>

    </form>
  </div>

</body>

</html>