<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title>Life Science Transmitter</title>
</head>

<body>

  <%- include("./partials/header.ejs") %>

  <div class="site-description">
    <h2>Life Science Transmitter</h2>
    <p>Das ist der Life Science Transmitter, die Zeitungs website des 12.3 Life Science Profils.</p>
  </div>

  <div class="login-section">
    <h3 id="login-popup-title" data-lang-content="header login">Login</h3>
    <form method="post" action="internal/login">
      <input type="text" name="username" placeholder="Username" autocomplete="username" data-lang-content-placeholder="login_form username">
      <input type="password" name="password" placeholder="Password" autocomplete="current-password" data-lang-content-placeholder="login_form password">

      <div class="submit-button-container">
        <button type="button" class="cancel-button" onclick="clearLoginForm()" data-lang-content="login_form cancel">Cancel</button>
        <input type="submit" class="submit-login" data-lang-content-value="header login" value="Login">
      </div>
    </form>
  </div>

</body>

</html>

<script>
  const loggedIn = false;
</script>