<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title>Life Science Transmitter</title>
</head>

<body>

  <%- include("./partials/header.ejs") %>

  <p>Test</p>

</body>

</html>

<script>
  const loggedIn = false;
</script>