<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title data-lang-content="not_logged_in title">Life Science Transmitter</title>
</head>

<body>

 <%- include('./partials/base.ejs') %>

  <div style="display: flex; justify-content: center; align-items: center; height: 30vh; text-align: center; flex-direction: column; gap: 20px">
    <span data-lang-content="not_logged_in title">Nicht eingeloggt</span>
    <span data-lang-content="not_logged_in description">Bitte melde dich an, um fortzufahren.</span>
    <button class="button" onclick="window.location.href = '/';" data-lang-content="not_logged_in login">Einloggen</button>
  </div>

</body>

</html>