<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <script src="/js/partials/postRenderer.js"></script>
  <link rel="stylesheet" href="/css/sections.css">
</head>

<body>
  <%- include("./partials/header.ejs") %>

  <div id="postBox" class="postBox" style="margin-top: 2%;"></div>
</body>

</html>

<script>
  document.addEventListener('DOMContentLoaded', async () => {
    const post = await fetch(`/internal/getPost/<%= postID %>`);
    buildPost(await post.json());
  });
</script>