<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/other/marked.min.js"></script>
    <script src="/js/partials/header.js"></script>
    <script src="/js/partials/postRenderer.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sections.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <div id="postBox" class="postBox" style="margin-top: 2%;"></div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const post = await fetch(`/internal/getPost/<%= postID %>`);
        buildPost(await post.json());
    });
</script>
