<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <script src="/js/settings.js"></script>
  <title>Settings</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>
  <label for="enablePush">Push Notifications</label>
  <button id="enablePush">Enable</button>
</body>

</html>