<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <title data-lang-content="name">Test</title>
  <script src="/js/test.js" defer></script>
  <script src="https://rawgit.com/tsayen/dom-to-image/master/src/dom-to-image.js"></script>
  <link rel="stylesheet" href="/css/test.css">
</head>

<body>

  <%- include('./partials/base.ejs') %>

  <div id="capture">
    <p>Das ist ein test</p>
    <p id="counter">0</p>
    <img src="/images/logo.png" crossorigin="anonymous" style="width: 50%;"></img>
  </div>

  <video id="video" autoplay playsinline x-webkit-airplay="allow" webkit-playsinline="true" controls></video>

  <button id="captureButton">Capture</button>

  <button type="button" id="airplay"><i class="fa fa-apple fa-lg">Airplay</i></button>

  <canvas id="canvas"></canvas>

</body>

</html>