.userDisplay {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sub-preference {
    margin-left: 20px;
}

.setting-label {
    font-weight: bold;
}