:root {
    --main-text-color: black;
    --main-background-color: white;
    --post-background-color: #fff;
    --post-outline-color: #a6a6a6;
    --primary-color: rgb(65, 140, 155);
    --gold-color: #FFD700;
}