header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;

    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;

    z-index: 100;
}

.header-logo,
.header-nav,
.header-button {
    width: 100%;
}

header a {
    color: var(--main-text-color);
    text-decoration: none;
}

.header-nav {
    justify-content: center;
    display: flex;
}

.header-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
}

.header-logo img {
    height: 100%;
}


.header-nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

.header-nav ul a {
    padding: 10px
}

.header-button {
    display: flex;
    justify-content: end;
}

.header-button button {
    margin: 10px 50px 10px 0;
    padding: 0px 10px 0px 10px;
    background-color: transparent;
    border-radius: 0;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.site-description {
    text-align: center;
    margin: 50px 0;
}

.site-description h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.site-description p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

.userMenu {
    position: fixed;
    top: 55px;
    right: 5vw;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.menuHidden {
    transform: translateX(50vw) !important;
}

.userMenu .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-right: 0;
}

.userMenu .content .button {
    margin-right: 0;
}

.mobileMenuButton {
    display: none;
    border: 0;
    margin-right: 5px !important;
}

.mobileMenu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
    transform: translateX(0%);
    padding: 10px;
    padding-top: env(safe-area-inset-top);
}

.mobileMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobileMenu li {
    margin: 10px 0;
}

.mobileMenu a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.mobileMenu a:hover {
    background-color: #f0f0f0;
}

#menuBackground {
    background-color: rgba(0, 0, 0, 0);
}

#mobileMenuBackground {
    background-color: rgba(0, 0, 0, 0.5);
}

.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}


@media (max-width: 768px) {
    .header-nav {
        display: none;
    }

    .create-post-button {
        display: none;
    }

    .header-logo a {
        margin: 0 0 0 10px;
    }

    .mobileMenuButton {
        display: block;
    }

    .header-logo img {
        height: 10vw;
    }
}