.post {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px max(2.5%, 20px) 20px max(2.5%, 20px);
    background: var(--post-background-color);
}

.section-container {
    margin-top: 10px;
    background: var(--post-background-color);
    border: 1px solid var(--post-outline-color);
    border-radius: 8px;
    padding: 0 20px 0 20px;
}

.section {
    padding: 10px 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.post-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.post-image {
    border-radius: 8px;
    margin-top: 10px;
    object-fit: contain;
}

.author-info {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-footer {
    margin-top: 1vh;
}

.counter {
    display: inline-block;
    padding-right: 5px;
    margin: auto;
}


.modal .newCommentContainer textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    margin: 5px;
    margin-bottom: 1vh;
    width: auto;
    height: auto;
    min-height: 100px;
    resize: none;
    overflow: hidden;
}

.modal .newCommentContainer {
    display: flex;
    flex-direction: column;
}

.modal .newCommentContainer .commentButton {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

.modal .commentContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 6vh;
}

.modal #title {
    margin-top: 0;
}

.content-container {
    border-radius: 8px;
    border: 1px solid var(--post-outline-color);
    padding: 5px 10px 5px 10px;
    background: var(--post-background-color);
    display: flex;
    justify-content: space-between;
}

.button-row {
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.comment {
    margin-bottom: 2vh;
}

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.file canvas {
    width: inherit;
}

.AISummary {
    position: relative;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid var(--post-outline-color);
    padding: 5px 10px 5px 10px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 0.9em;
}

.AISummary::before {
    content: "AI Zusammenfassung";
    position: absolute;
    top: -10px;
    right: 5px;
    background: var(--label-background-color, #f0f0f0);
    color: var(--label-text-color, #333);
    padding: 2px 5px;
    font-size: 0.8em;
    border-radius: 4px;
}

@keyframes tooltipFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@media (max-width: 768px) {

    .post-title {
        font-size: 1.5em;
    }

    .AISummary {
        display: none;
    }

    .file-label {
        display: block !important;
    }
}