.settingsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px 0;
}

.settingsBox div form {
    margin: auto 10px;
}

label {
    margin-right: 20px;
}

.profilePictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.profilePictureColorPreview {
    border: 0;
}

.userField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.enablePushContainer {
    flex-direction: column;
}

.pushTypes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 10px 0;
    list-style-type: none;
}

.pushTypes li ::marker {
    color: #000;
}

.profilePicture.enlarged {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0;
    border: #000 1px solid;
}

.profilePicture.enlarged span {
    text-align: center;
    font-size: 20px;
}

.scaleSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.pickPicture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px auto;
    height: 402px;
    width: 402px;
    clip-path: circle(202px at center);
}

#profilePicturePreview {
    background-color: white;
    position: absolute;
    min-height: 400px;
    min-width: 400px;
    height: 100%;
    width: auto;
    cursor: move;
    user-select: none;
    touch-action: manipulation;
}

@media (max-width: 768px) {
    .setting {
        width: 100%;
    }

    .pickPicture {
        width: 202px;
        height: 202px;
        clip-path: circle(102px at center);
    }

    .profilePicture.enlarged {
        width: 200px;
        height: 200px;
    }

    #profilePicturePreview {
        min-height: 200px;
        min-width: 200px;
    }

}