.settingsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px 0;
}

.settingsBox div form {
    margin: auto 10px;
}

label {
    margin-right: 20px;
}

.profilePictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.profilePictureColorPreview {
    border: 0;
}

.hiddenInput {
    position: absolute;
    color: transparent;
    z-index: -1;
    height: 0;
    width: 0;
}

.userField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.enablePushContainer {
    flex-direction: column;
}

.pushTypes{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 10px 0;
    list-style-type:none;
}

.pushTypes li ::marker {
    color: #000;
}

.profilePicture.enlarged {
    position: relative;
    transform: scale(10);
    margin: 0;
}

.scaleSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.pickPicture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    height: 400px;
}

.pickPicture {
    position: relative;
    overflow: hidden;
    clip-path: circle(200px at center);
}

#profilePicturePreview {
    background-color: white;
    position: absolute;
    height: 100%;
    cursor: move;
    user-select: none;
    touch-action: manipulation;
}

@media (max-width: 768px) {
    .setting {
        width: 100%;
    }

    .pickPicture {
        height: 200px;
    }

    .profilePicture.enlarged {
        transform: scale(5);
    }
    
}