<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>

  <link rel="stylesheet" href="/citations/citations.css">
  <script src="/citations/citations.js"></script>
  <script src="/js/partials/autocomplete.js"></script>
  <link rel="stylesheet" href="/css/autocomplete.css">
  <title data-lang-content="citations title">Zitate</title>
</head>

<body>
  <%- include('./partials/base.ejs') %>

  <% if (!isGuest) { %>
  <h1 data-lang-content="citations new title">Ein neues Zitat einreichen</h1>
  <div class="newCitationBox" id="newCitationBox">
    <!-- all new citation contexts will be here -->
  </div>
  <hr />
  <div class="vertical">
    <button onclick="addNewContext()" class="addSection">
      <img src="/icons/add-section.svg" alt="Add Section">
    </button>
    <button id="citationSubmit" class="online-only citationSubmit" onclick="submitCitation(this)" data-lang-content="citations new submit">Submit</button>
    <div id="submitButtons" style="display: none;">
      <button id="citationCancle" class="online-only citationSubmit" onclick="endEditCitation()" data-lang-content="interaction cancel">Cancel</button>
      <button id="citationSave" class="online-only citationSubmit" onclick="submitCitation()" data-lang-content="interaction save">Save</button>
    </div>
  </div>
  <% } %>

  <h1 data-lang-content="citations title">Zitate</h1>
  <div id="citationsHeader">
    <%- include('./partials/filter.ejs') %>
    <button class="button online-only" type="button" onclick="window.location.href = '/statistics/'">
      <img class="icon" src="/icons/statistics.svg" alt="Statistics">
    </button>
  </div>

  <div id="spinner" class="spinner" style="visibility: hidden;">
    <img src="/icons/spinner.svg" alt="Loading">
  </div>

  <div class="citationsBox" id="citationBox">
    <!-- all citations will be here -->
  </div>

  <div id="baseStructure" style="display: none;">
    <div class="author autocomplete">
      <textarea type="text" name="author" class="online-only" placeholder="Herr Treetzen" oninput='textAreaOnInput(this)' required data-lang-content-placeholder="citations new sentence 0"></textarea>
    </div>
    <p data-lang-content="citations new sentence 1"> hat </p>
    <div class="content">
      <textarea type="text" name="content" class="online-only" placeholder="ein lustiges Zitat" oninput='textAreaOnInput(this)' required data-lang-content-placeholder="citations new sentence 2"></textarea>
    </div>
    <p data-lang-content="citations new sentence 3"> gesagt.</p>
  </div>
</body>

</html>