<div class="gameBox">
  <div class="game" id="game">
    <div class="square top left"></div>
    <div class="square top"></div>
    <div class="square top right"></div>
    <div class="square left"></div>
    <div class="square"></div>
    <div class="square right"></div>
    <div class="square bottom left"></div>
    <div class="square bottom"></div>
    <div class="square bottom right"></div>
  </div>

  <div class="reset">
    <button onclick="deleteGame()">
      <img src="/icons/games/ttt-reset.svg" alt="reset">
    </button>
  </div>
</div>

<div id="modal" class="modal">
    <span id="modalClose" class="close" title="Close Modal">&times;</span>

    <form class="modal-content animate">

      <h1 data-lang-content="games sudoku modal title"></h1>

    </form>
  </div>