[data-lang-content], [data-lang-content-value], [data-lang-content-placeholder] {
    font-family: 'Tengwar Feanor Regular' !important;
}

@font-face {
    font-family: 'Tengwar Feanor Regular';
    src: url(/languages/fonts/tengwarfeanorregular.ttf) format('truetype')
}