<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("./partials/baseHead.ejs") %>
  <title data-lang-content="charts title">Map</title>
</head>

<body>
  <%- include('./partials/base.ejs') %>

  <iframe
    src="http://64.226.114.49:8100/"
    style="width: 100%; height: 100vh; border: none;"
    title="Map"
    ></iframe>
  </div>

</body>

</html>