<!DOCTYPE html>
<html lang="de">

<head>
  <%- include("../partials/baseHead.ejs") %>
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/css/games/tic-tac-toe.css">
  <script src="/js/games/tic-tac-toe.js"></script>
</head>

<body>
  <%- include("../partials/header.ejs") %>

  <div class="gameBox">
    <div class="game">
      <div class="square top left"></div>
      <div class="square top"></div>
      <div class="square top right"></div>
      <div class="square left"></div>
      <div class="square"></div>
      <div class="square right"></div>
      <div class="square bottom left"></div>
      <div class="square bottom"></div>
      <div class="square bottom right"></div>
    </div>
  </div>

</body>

</html>