<div class="gameBox">
  <div class="mainPanel">
    <div class="game">
      <div class="scoreContainer">
        <span id="score">0</span>
      </div>
      <div id="mainDisplay"></div>
    </div>
    <div id="reload">
      <img src="/icons/games/ttt-reset.svg">
    </div>
  </div>
  <div id="availableBoddies">
    <div class="bodyDisplay"></div>
    <div class="bodyDisplay"></div>
    <div class="bodyDisplay"></div>
  </div>
</div>