<link rel="stylesheet" href="/Users/Jakob/Documents/JavaScript/Pius Transmitter repo/LiSci-transmitter/games/Blockblast/public/blockblast.css">

  <div class="gameBox">
    <div class="mainPanel">
      <div class="game">
        <div class="scoreContainer">
          <span id="score">0</span>
        </div>
        <div id="mainDisplay"></div>
      </div>
      <div id="reload">
        <img src="/Users/Jakob/Documents/JavaScript/Pius Transmitter repo/LiSci-transmitter/public/icons/games/ttt-reset.svg">
      </div>
    </div>
    <div id="availableBoddies">
      <div class="bodyDisplay"></div>
      <div class="bodyDisplay"></div>
      <div class="bodyDisplay"></div>
    </div>
  </div>
<script src="/Users/Jakob/Documents/JavaScript/Pius Transmitter repo/LiSci-transmitter/games/Blockblast/public/blockblast.js"></script>