name: Deploy App

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.HETZNER_SSH_KEY }}

      - name: Add server to known_hosts
        run: |
          ssh-keyscan -H "${{ secrets.HETZNER_HOST }}" >> ~/.ssh/known_hosts

      - name: Deploy App via SSH
        env:
          HOST: ${{ secrets.HETZNER_HOST }}
          USER: ${{ secrets.HETZNER_USER }}
          APP_DIR: ${{ secrets.APP_DIR }}
        run: |
          ssh -o StrictHostKeyChecking=yes "$USER@$HOST" << EOF
            set -euo pipefail
            cd "$APP_DIR"
            git pull --ff-only
            docker compose build --no-cache
            docker compose up -d
            docker restart liscitransmitter
          EOF
